@import url('https://fonts.googleapis.com/css?family=Alegreya');

:root{
  --black: #080401;
  --white: #fffefc;
  --teal: #008080;
  --teal-light: #33a0a0;
  --orange: #d56100;
  --orange-light: #fb8320;
  --orange-dark: #843c00;
  --black-opaque: rgba(4, 8, 1, .9);
  --teal-opaque: rgba(0, 128,128, .4);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: var(--black-opaque);
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-family: 'Alegreya', serif;
}
main{
  flex: 1;
}
/* NAVIGATION ****************/
header{
  position: fixed;
  background: var(--black-opaque);
  display: grid;
  grid-template-columns: 75px 1fr 2fr;
  width: 100%;
  align-items: center;
  font-size: 2rem;
}
.logo img{
  max-width: 50px;
  margin: 10px 0 0 5px;
}
.nav-toggle{
  color: var(--teal-light);
  font-size: 40px;
  float: right;
  margin-right: 20px;
}

/* MOBILE NAVIGATION *********/
.mobile-nav-menu{
  position: absolute;
  padding-top: 100px;
  top: 0;
  left: 3000px;
  background: var(--black);
  list-style: none;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  transition: all 0.5s;
}
nav a{
  color: var(--white);
  text-decoration: none;
}
nav a:hover{
  border-bottom: 3px solid var(--teal);
}
.active{
  color: var(--teal-light);
}
/* NAVIGATION LARGE SCREEN ********/
.nav-menu{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
/* FOOTER ************************/
footer{
  background: var(--black);
  width: 100vw;
  text-align: center;
  border-top: 1px solid var(--teal-light);
}
.icon, .extra-info{
  padding: 10px;
}
.contact-info img{
  width: 75px;
}
.contact-info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.contact-info:after{
  display: block;
  content: '';
  width: 80%;
  height: 1px;
  background: linear-gradient(to left, transparent, var(--teal-light) 50%, transparent);
}
/* PHOTOBOOTH.HTML**********************/
#photobooth-main{
  background: url(../img/people-1230872.jpg) no-repeat;
  background-size: cover;
  background-position:  center;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
      "title title title"
      "packages packages packages"
      "additional additional additional";
  padding: 100px 10px 0;
}
#photobooth-main h1{
  grid-area: title;
  text-shadow: -2px -2px var(--teal);
  font-size: 12vw;
  justify-self: center;
}
#photobooth-main h2:after{
    display: block;
    content: '';
    height: 3px;
    background: linear-gradient(to left, transparent, var(--teal) 50%, transparent);
}
#photobooth-main .packages{
  grid-area: packages;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}
#photobooth-main .package{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 5px solid var(--teal-light);
  background: var(--black-opaque);
  padding: 20px;
}
#photobooth-main .package h2{
  margin-bottom: 20px;
}
.package-features{
  line-height: 1.5;  
  padding: 0 0 20px 25px;
}
.package-features li{
  font-size: 1.2rem;
  list-style: circle;
}
.button{
  color: var(--white);
  background: var(--orange);
  border: 5px solid var(--orange-light);
  border-radius: 5px;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 30px;
}
.button:hover{
  box-shadow: 0 0 40px var(--teal-light);
}

/* ABOUT.HTML ***************/
#about-main{
  display: grid;
  padding-top: 100px;
}
/* CONTACT.HTML *************/
#contact-main{
  display: flex;
  flex-direction: column;
  padding: 80px 0 20px;
  justify-content: space-around;
  align-items: center;
  min-height: 90vh;
}
#salutation{
  text-align: center;
  max-width: 90vw;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50vw;
  min-width: 350px;
  border: 5px solid var(--teal-light);
  background: var(--black-opaque);
  padding-top: 20px;
}
input, label, textarea{
  width: 300px;
}
input{
  margin-bottom: 10px;
}
.info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.textarea-section, #select-packages, #button{
  display: flex;
  flex-direction: column;
  align-self: center;
}
#select-packages{
  margin: 20px 0;
}
textarea{
  height: 100px;
  /* width: 90%;
  align-self: center; */
}
#button{
  padding: 40px;
}

/* MEDIA QUERIES *************************/
@media (max-width: 600px){
  .contact-info, .info{
    flex-direction: column;
  }
  form{
    width: 80vw;
    height: auto;
    padding-bottom: 10px;
  }
}
@media (max-width: 899px) {
  #nav-menu{
    display: none;
  }
  .open{
    left: 50vw;
  }
  .mobile-nav-menu li{
    padding: 10px 5px;
  }
}

@media (min-width: 650px) {
  .photobooth-wrapper h1{
    margin-top: 50px;
  }
}

@media (min-width: 900px) {
  #nav-toggle, #mobile-nav-menu{
    display: none;
  }
  .photobooth-wrapper h1{ 
    text-shadow: -5px -5px var(--teal);
  }
  .photobooth-wrapper p{
    background-color:  var(--teal-opaque);
    font-size: 8vw;
  }
}

 /* Specific CSS for edge/ IE browsers */
_:-ms-lang(x), .photobooth-wrapper h1 { margin-top: 75px; font-size: 10vw;}
_:-ms-lang(x), .icon{width: 33.33333%}
_:-ms-lang(x), .contact-info:after{width: 100%;}